**/bootstrap/
**/dependencies/
**/Debug
**/Release
**.vs

#Ignore only the core bootstrap assets
bin/textures/tankRed.png
bin/textures/tankGreen.png
bin/textures/tankBlue.png
bin/textures/tankBeige.png
bin/textures/ship.png
bin/textures/rock_small.png
bin/textures/rock_medium.png
bin/textures/rock_large.png
bin/textures/numbered_grid.tga
bin/textures/grass.png
bin/textures/car.png
bin/textures/bullet.png
bin/textures/barrelRed.png
bin/textures/barrelGreen.png
bin/textures/barrelBlue.png
bin/textures/barrelBeige.png
bin/textures/ball.png
bin/imgui.ini
bin/font/consolas_italic.ttf
bin/font/consolas_bold.ttf
bin/font/consolas.ttf

Kuno/imgui.ini
